<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/static/assets/js/jquery-2.0.3.min.js}"></script>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            function deleteCategory(obj) {

            }
        });
        /*]]>*/
    </script>
</head>

<body>

<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="content">
   <div class="content-wrapper">
       <h3>商品类别列表
           <small><ul id="crumb" class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">商品类别列表</li>
           </ul></small>
       </h3>

        <div class="outlet">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/category/add_category/" class="btn btn-success">新增商品类别</a>
                </div>
                <div class="col-sm-9 pull-right" style="text-align:right;">
                    <form class="form-inline" role="form" method="GET" action="/category/list/">
                        <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" th:value="${condition.name}"
                                   placeholder="请输入类别名称"/>
                        </div>
                        <div class="form-group">
                            <select name="categoryId" id="categoryId" class="form-control">
                                <option value="">&#45;&#45; 请选择父级类别 &#45;&#45;</option>
                                    <span th:each="record:${filterList}">
                                    <option th:value="${record.id}" th:text="${record.name}"
                                            th:selected="${condition!=null and condition.categoryId != null and condition.categoryId == record.id}">
                                    </option>
                                </span>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="status" id="status" class="form-control">
                                <option value="">&#45;&#45; 请选择状态 &#45;&#45;</option>
                                <span>
                                    <option th:value="1"
                                            th:selected="${condition!=null and condition.status != null and condition.status == 1}">启用 </option>
                                    <option th:value="0"
                                            th:selected="${condition!=null and condition.status != null and condition.status == 0}">禁用 </option>
                                </span>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                </div>
            </div>

            <!-- End .row -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-12 col-md-12 sortable-layout">
                    <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="im-bars"></i>商品类别列表</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>类别名称</td>
                                    <td>父类名称</td>
                                    <td>创建时间</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="record,status: ${recordList.list}" role="row">
                                    <td th:text="${status.index + 1}"></td>
                                    <td th:text="${record.name}"></td>
                                    <td th:text="${record.parent}? ${record.parent.name} : '---'"></td>
                                    <td th:text="${#dates.format(record.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <span th:text="${record.status == 1} ? '启用' :' 禁用'"
                                              th:class="${record.status == 1} ? 'label label-lime mr10 mb10' :'label label-danger mr10 mb10'"> </span>
                                    </td>
                                    <td>
                                        <a th:href="'/category/edit_category/'+${record.id}">编辑</a>
                                        <a onclick='deleteCategory(this)'>删除</a>
                                    </td>
                                </tr>
                                <tr role="row"
                                    th:style="'display:' +@{(${#lists.isEmpty(recordList.list)}? '' : 'none')} + ''">
                                    <td colspan="6" style="text-align: center;">
                                        <spam>
                                            很抱歉，没有找到符合您条件的记录
                                        </spam>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!--分页插件开始-->
                            <div class="row">
                                <div class="col-sm-11" style="text-align: right;">
                                    <nav th:if="${recordSize >0}">
                                        <ul class="pagination">
                                            <li><a th:href="@{${'/category/list'}(pageNum=0,pageSize=10,categoryId=${condition.categoryId},name=${condition.name},status=${condition.status})}"
                                                   class="header-page">首页</a></li>
                                            <li>
                                                <a th:if="${not isFirstPage}"
                                                   th:href="@{${'/category/list'}(pageNum=${pageNum-1},pageSize=${pageSize},categoryId=${condition.categoryId},name=${condition.name},status=${condition.status})}"
                                                   class="normal-page">上一页</a>
                                                <a th:if="${isFirstPagee}" href="javascript:void(0);"
                                                   class="normal-page"></a>
                                            </li>
                                            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                                                <a th:if="${pageNum eq pageNo}" class="active-page"
                                                   href="javascript:void(0);">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                                <a th:if="${not (pageNum eq pageNo)}"
                                                   th:href="@{${'/category/list'}(pageNum=${pageNo},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},status=${condition.status})}"
                                                   class="normal-page">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:if="${not isLastPage}"
                                                   th:href="@{${'/category/list'}(pageNum=${pageNum+1},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},status=${condition.status})}"
                                                   class="normal-page">下一页</a>
                                                <a th:if="${isLastPage}" href="javascript:void(0);"
                                                   class="normal-page"></a>
                                            </li>
                                            <li><a th:href="@{${'/category/list'}(pageNum=${totalPages},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},status=${condition.status})}"
                                                   class="footer-page">尾页</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-sm-1" style="padding-top: 25px;min-width: 40px;">
                                    共&nbsp;<label th:text="${totalPages}"></label>&nbsp;页
                                </div>
                            </div>
                            <!--分页插件结束-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>

</body>
</html>