<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/static/assets/js/jquery-2.0.3.min.js}"></script>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            //商品下架
            $('.btn-out-product').bind('click',function(){
                var id = $(this).attr("id");
                var code = $(this).attr("value");
                var name = $(this).attr("name");

                $('#outProductModal').find('#code').val(code);
                $('#outProductModal').find('#name').val(name);
                $('#outProductModal').find('.btn-confirm-out').attr('href','/product/outProduct/'+id);
            });

            //商品进货
            $('.btn-add-product-num').bind('click',function(){
                var id = $(this).attr("id");
                var code = $(this).attr("value");
                var name = $(this).attr("name");

                $('#addProductNumModal').find("input[name='productId']").val(id);
                $('#addProductNumModal').find("input[name='code']").val(code);
                $('#addProductNumModal').find("input[name='name']").val(name);
            });
        });
        /*]]>*/
    </script>
</head>

<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="content">
   <div class="content-wrapper">
       <h3>商品列表
           <small>
               <ul id="crumb" class="breadcrumb">
                   <li><a href="#">Home </a></li>
                   <li class="active">商品列表</li>
               </ul>
           </small>
       </h3>


        <div class="outlet">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/product/add_product/" class="btn btn-success">新增商品</a>
                </div>
                <div class="col-sm-9 pull-right" style="text-align:right;">
                    <form class="form-inline" role="form" method="GET" action="/product/list/">
                        <div class="form-group">
                            <input class="form-control" name="code" id="code" type="text"
                                   th:value="${condition.code}"  placeholder="请输入商品编码"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text"
                                   th:value="${condition.name}" placeholder="请输入商品名称"/>
                        </div>
                        <div class="form-group">
                            <select name="categoryId" id="categoryId" class="form-control">
                                <option value="">&#45;&#45; 请选择商品类别 &#45;&#45;</option>
                                <span th:each="record:${filterList}">
                                    <option th:value="${record.id}" th:text="${record.name}"
                                            th:selected="${condition!=null and condition.categoryId != null and condition.categoryId == record.id}">
                                    </option>
                                </span>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="type" id="type" class="form-control">
                                <option value="">&#45;&#45; 请选择商品性质 &#45;&#45;</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                </div>
            </div>

            <!-- End .row -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-12 col-md-12 sortable-layout">
                    <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="im-bars"></i>商品列表</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>商品编码</td>
                                    <td>商品名称</td>
                                    <td>商品类别</td>
                                    <td>商品性质</td>
                                    <td>单价（元）</td>
                                    <td>折扣价（元）</td>
                                    <td>库存</td>
                                    <td>上架时间</td>
                                    <td>标签</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="record,status: ${recordList.list}" role="row">
                                        <td th:text="${status.index + 1}"></td>
                                        <td th:text="${record.code}"></td>
                                        <td th:text="${record.name}"></td>
                                        <td th:text="${record.categoryName}"></td>
                                        <td th:text="${record.type}"></td>
                                        <td th:text="${record.price}"></td>
                                        <td th:text="${record.disPrice}"></td>
                                        <td th:text="${record.qty}"></td>
                                        <td th:text="${#dates.format(record.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td>
                                             <span th:each="label,status: ${record.labels}">
                                                <span th:text="${label}" class="btn btn-xs btn-lime"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${record.disPrice <= 5}" class="btn btn-xs btn-danger">库存预警</span>
                                            <span th:if="${record.disPrice > 5}" class="btn btn-xs btn-success">有货</span>
                                        </td>
                                        <td>
                                            <a th:href="'/product/show_product/'+${record.id}">详情</a>
                                            <a th:href="'/product/select_product/'+${record.id}">编辑</a>
                                            <a th:id="${record.id}" th:value="${record.code}" th:name="${record.name}"
                                               data-toggle="modal" data-target="#outProductModal" class="btn btn-xs btn-purple btn-out-product">商品下架</a>
                                            <a th:id="${record.id}" th:value="${record.code}" th:name="${record.name}"
                                               data-toggle="modal" data-target="#addProductNumModal"  class="btn btn-xs btn-pink btn-add-product-num">进货</a>

                                        </td>
                                    </tr>
                                    <tr role="row" th:style="'display:' +@{(${#lists.isEmpty(recordList.list)}? '' : 'none')} + ''">
                                        <td colspan="12" style="text-align: center;">
                                            <spam>
                                                很抱歉，没有找到符合您条件的记录
                                            </spam>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--分页插件开始-->
                            <div class="row">
                                <div class="col-sm-11" style="text-align: right;">
                                    <nav th:if="${recordSize >0}">
                                        <ul class="pagination">
                                            <li><a th:href="@{${'/product/list'}(pageNum=0,pageSize=10,categoryId=${condition.categoryId},name=${condition.name},code=${condition.code},type=${condition.type},status=${condition.status})}"
                                                   class="header-page">首页</a></li>
                                            <li>
                                                <a th:if="${not isFirstPage}"
                                                   th:href="@{${'/product/list'}(pageNum=${pageNum-1},pageSize=${pageSize},categoryId=${condition.categoryId},name=${condition.name},code=${condition.code},type=${condition.type},status=${condition.status})}"
                                                   class="normal-page">上一页</a>
                                                <a th:if="${isFirstPagee}" href="javascript:void(0);"
                                                   class="normal-page"></a>
                                            </li>
                                            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                                                <a th:if="${pageNum eq pageNo}" class="active-page"
                                                   href="javascript:void(0);">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                                <a th:if="${not (pageNum eq pageNo)}"
                                                   th:href="@{${'/product/list'}(pageNum=${pageNo},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},code=${condition.code},type=${condition.type},status=${condition.status})}"
                                                   class="normal-page">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:if="${not isLastPage}"
                                                   th:href="@{${'/product/list'}(pageNum=${pageNum+1},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},code=${condition.code},type=${condition.type},status=${condition.status})}"
                                                   class="normal-page">下一页</a>
                                                <a th:if="${isLastPage}" href="javascript:void(0);"
                                                   class="normal-page"></a>
                                            </li>
                                            <li><a th:href="@{${'/product/list'}(pageNum=${totalPages},size=${pageSize},categoryId=${condition.categoryId},name=${condition.name},code=${condition.code},type=${condition.type},status=${condition.status})}"
                                                   class="footer-page">尾页</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-sm-1" style="padding-top: 25px;min-width: 40px;">
                                    共&nbsp;<label th:text="${totalPages}"></label>&nbsp;页
                                </div>
                            </div>
                            <!--分页插件结束-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="modal fade" id="outProductModal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-or">
        <div class="modal-content panel-success">
            <div class="modal-header">
                <h4 id="myModalLabel" contenteditable="true">确认商品下架</h4>
            </div>
            <div class="modal-body warning-info-text">
                <div class="row">
                   <div class="col-sm-12">
                       <div class="form-group">
                           <label class="control-label">商品编码：</label>
                           <input class="form-control" name="code" id="code" type="text" readonly/>
                       </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">商品名称：</label>
                            <input class="form-control" name="name" id="name" type="text" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span style="color:red;">提醒：商品一旦下架，将不再对外销售！</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/product/list" class="btn btn-default">取消</a>
                <a href="" class="btn btn-primary btn-confirm-out">确定下架</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="addProductNumModal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-or">
        <div class="modal-content panel-success">
            <div class="modal-header">
                <h4 id="myModalLabel" contenteditable="true">确认商品进货</h4>
            </div>
            <form action="/product/addProductNum" method="post">
                 <div class="modal-body warning-info-text">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">商品编码：</label>
                                <input type="hidden" name="productId" value="productId">
                                <input class="form-control" name="code" type="text" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">商品名称：</label>
                                <input class="form-control" name="name" type="text" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">进货数量：</label>
                                <input class="form-control" name="qty" id="qty" type="number" value="10" placeholder="请输入进货数量"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/product/list" class="btn btn-default">取消</a>
                    <input type="submit" class="btn btn-primary" value="确定进货">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>

</body>
</html>