<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/bootstrapValidator/bootstrapValidator.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/upload-img.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/pickupdate/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>

    <script th:src="@{/static/assets/js/jquery-2.0.3.min.js}"></script>
    <script th:src="@{/static/assets/pickupdate/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/static/assets/pickupdate/bootstrap-datetimepicker.fr.js}"></script>

    <script>
        /*<![CDATA[*/
        var uploadFlag = false;
        var num = 1;   //添加元素
        var ImgIdresult = [];

        $(document).ready(function () {
            $('.birthtimeStartFilter').datetimepicker({
                linkField:"birthtimeStart",
                format: 'yyyy-mm-dd',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                showMeridian: 1,
                pickerPosition:"bottom-left"
            });

            $('.birthtimeEndFilter').datetimepicker({
                linkField:"birthtimeEnd",
                format: 'yyyy-mm-dd',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                showMeridian: 1,
                pickerPosition:"bottom-left"
            });

            $('#close-modal-btn').bind('click',function(){
                $('#failureModal').modal('hide');
            });

            $('#productForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {},
                fields: {
                    code: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品编码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '商品编码长度必须在6到30之间'
                            }
                        }
                    },
                    name: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品名称不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '商品名称长度必须在6到30之间'
                            }
                        }
                    },
                    categoryId: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品类别不能为空'
                            }
                        }
                    },
                    type: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品性质不能为空'
                            }
                        }
                    },
                    price: {
                        message: 'The username is not valid',
                            validators: {
                                notEmpty: {
                                    message: '商品单价不能为空'
                                },
                                numeric: {
                                    message: '商品单价只能为数值'
                                }
                        }
                    },
                    disPrice: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '折扣价不能为空'
                            },
                            numeric: {
                                message: '折扣价只能为数值'
                            }
                        }
                    },
                    agencyPrice: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '代理价不能为空'
                            },
                            numeric: {
                                message: '代理价只能为数值'
                            }
                        }
                    },
                    qty: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '库存不能为空'
                            },
                            numeric: {
                                message: '库存只能为数值'
                            }
                        }
                    },
                    level: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '销售类型不能为空'
                            }
                        }
                    },
                    label: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品标签不能为空'
                            }
                        }
                    },
                    brandName: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '商品品牌不能为空'
                            }
                        }
                    },
                    licenseNumber: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '生产许可证编号不能为空'
                            }
                        }
                    },
                    standardNumber: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '产品标准号不能为空'
                            }
                        }
                    }/*,
                    technology: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '生产工艺不能为空'
                            }
                        }
                    },
                    aualityPeriod: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '保质期不能为空'
                            },
                            numeric: {
                                message: '保质期只能为数值'
                            }
                        }
                    },
                    placeOrigin: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '生产厂地不能为空'
                            }
                        }
                    },
                    weight: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '净含量不能为空'
                            },
                            numeric: {
                                message: '净含量只能为数值'
                            }
                        }
                    },
                    packageMethod: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '包装方式不能为空'
                            }
                        }
                    },
                    containSugar: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '是否含糖不能为空'
                            }
                        }
                    },
                    quality: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '品质不能为空'
                            }
                        }
                    },
                    shape: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '形状不能为空'
                            }
                        }
                    },
                    color: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '颜色不能为空'
                            }
                        }
                    },
                    specialCategory: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '特产品类不能为空'
                            }
                        }
                    },
                    adaptObject: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '适用对象不能为空'
                            }
                        }
                    }*/
                }
            }).on('success.form.bv', function (e) { //点击提交之后
                $("#submit_btn").attr('disabled', "true");
                $.post("/product/addProduct", $("#productForm").serialize())
                    .success(function (data) {
                        if (data.code == '0') {
                            $('#successModal').modal('show');
                            $('#successModal').find('.operate-tip').html("新增商品【" + $("input[name='name']").val() + "】，操作成功！");
                        } else {
                            $("#submit_btn").removeAttr("disabled");
                            $('#failureModal').modal('show');
                            $('#failureModal').find('.operate-tip').html("新增商品【" + $("input[name='name']").val() + "】，操作失败！");
                            return false;
                        }
                    })
                    .error(function () {
                        $('#failureModal').modal('show');
                        $('#failureModal').find('.operate-tip').html("不可预知的异常，无法提交请求！");
                        return false;
                    });
            });

            //-----------图片上传------------------
            ImgIdresult = [];
            $('.upload-style').each(function (index, element){
                $('.upload-group').on('change', '.upload-file', function(){

                    //var file = this.files[0];
                    var data = new FormData();
                    //为FormData对象添加数据
                    $.each($('#upload'+(num))[0].files, function(i, file) {
                        data.append('file', file);
                    });
                    var _this = this;
                    $.ajax({
                        url:'/testuploadimg',
                        type:'POST',
                        data:data,
                        cache: false,
                        contentType: false,    //不可缺
                        processData: false,    //不可缺
                        success:function(data){
                            ImgIdresult.push(data);
                            $('#pic').val(ImgIdresult);

                            $(_this).prev().addClass('hidden-image');
                            $(_this).addClass('hidden-image');
                            $(_this).parent().append("<img src='"+data+"' id='" + (num) + "'  class='he_border1_img img-style'/>");
                            $(_this).parent().append("<div class='entity'>" +
                                                        "<a href='#' class='view' id='view" + (num-1) + "'>View</a>" +
                                                        "<a href='#' class='delete' id='view" + (num-1) + "'>Delete</a>" +
                                                     "</div>");
                            uploadFlag = true;
                        }
                    });
                })

                $('.upload-group').on('mouseover', '.upload-style', function() {
                    $(this).find('.entity').css('display', 'block')
                })

                $('.upload-group').on('mouseout', '.upload-style', function() {
                    $(this).find('.entity').css('display', 'none')
                })

                $('.upload-group').on('click', '.view', function(){
                    var viewId = "";
                    viewId = $(this).attr('id');
                    if(viewId != null && viewId != undefined && viewId != ''){
                        expandPhoto(viewId)
                    }
                })

                $('.upload-group').on('click', '.delete', function(){
                    var imageIdIndex = $(this).parent().parent().find('img').attr('id');
                    ImgIdresult.splice(imageIdIndex, 1);
                    $('#pic').val(ImgIdresult);

                    $(this).parent().parent().html("<div class='upload-group'>" +
                                                        "<div class='upload-style'>" +
                                                            "<span class='upload-text'></span>" +
                                                            "<input class='upload-file' type='file' accept='image/jpeg, image/png' id='upload1'>" +
                                                        "</div>" +
                                                    "</div>");
                    $(this).parent().parent().html("");
                });

            })

            // 点击增加按钮
            $('.upload-icon').on('click', addMore);

            var num = 1    // 添加元素
            var icon = document.getElementsByClassName('upload-icon')[0]
            function addMore() {
                if(uploadFlag){
                    if(num < 5){
                        var div = document.createElement('div')
                        var span = document.createElement('span')
                        span.classList.add('upload-text')
                        div.appendChild(span)
                        num = num+1;
                        var input = document.createElement('input')
                        input.classList.add('upload-file')
                        input.type = 'file'
                        input.accept = 'image/jpeg, image/png'
                        input.id = 'upload' + num
                        div.appendChild(input)
                        div.classList.add('upload-style')
                        document.getElementsByClassName('upload-group')[0].insertBefore(div, icon)

                        uploadFlag = false;
                    } else {
                        $('.upload-icon').css('display','none');
                    }
                }else{
                    $('.img-tip1').html("请先上传图片！");
                }




            }

            function expandPhoto(viewId){
                var src = $("#"+viewId).parent().parent().eq(0).find('img').attr('src');
                if(src != null && src != 'undefined'){
                    $('#show').attr('src', src)
                    $('.show-image').eq(0).css('display', 'block')
                }
            }

            $('.close-img').on('click', function(){
                $('#show').attr('src', '');
                $('.show-image').eq(0).css('display', 'none');
            });
            //--------图片上传---------------------------

        });
        /*]]>*/
    </script>
</head>

<body>

<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="content">
    <div class="content-wrapper">
        <h3>商品列表
            <small>
                <ul id="crumb" class="breadcrumb">
                    <li>Home</li>
                    <li class=""><a href="/product/list/">商品列表</a></li>
                    <li class="active">添加商品</li>
                </ul>
            </small>
        </h3>

        <div class="outlet">
            <div class="row">
                <form id="productForm" method="post" class="form-horizontal form-wizard" role="form">
                    <div class="col-lg-12">
                        <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="im-wand"></i>商品基础信息</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品编码：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="code" id="code" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品名称：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                   <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品类别：<span style="color:red;">*</span></label>
                                            <select name="categoryId" id="categoryId" class="form-control">
                                                <option value="">&#45;&#45; 请选择商品类别 &#45;&#45;</option>
                                                <span th:each="record:${categoryList}">
                                                    <option th:value="${record.id}" th:text="${record.name}">
                                                    </option>
                                                </span>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品性质：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="type" id="type" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">单价：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="price" name="price" placeholder=""/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">折扣价：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="disPrice" id="disPrice" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">代理价：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="agencyPrice" id="agencyPrice" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">库存：<span style="color:red;">*</span></label>
                                            <input type="number" class="form-control" name="qty" id="qty" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">销售类型：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="level" id="level" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品标签：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="label" name="label" placeholder="多个标签请以逗号区隔" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">商品描述信息：</label>
                                            <textarea class="form-control" rows="3"  name="description" id="description" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">商品介绍信息：</label>
                                            <textarea class="form-control" rows="3" name="specification" id="specification" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label">商品图片：<span class="img-tip1" style="color:red;">（最多支持五张图片）</span></label>
                                            <input th:type="hidden" name="pic" id="pic"/>
                                            <div class="upload-group upload-opr">
                                                <div class="upload-style">
                                                    <span class="upload-text"></span>
                                                    <input class="upload-file" type="file"  accept="image/jpeg, image/png" id="upload1"/>
                                                </div>
                                                <div class="upload-icon" style="background: white;">+ </div>
                                            </div>
                                            <div class="show-image">
                                                <img th:src="@{/static/images/close.jpg}" class="ic opc close-img" />
                                                <img id="show" src="">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                     </div>

                    <div class="col-lg-12">
                        <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="im-wand"></i>商品详细信息</h4>
                            </div>

                            <div class="panel-body">
                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">商品品牌：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="brandName" id="brandName" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产许可证编号：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="licenseNumber" id="licenseNumber" placeholder="" autofocus="autofocus"/>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">产品标准号：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" name="standardNumber" id="standardNumber" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产厂名：</label>
                                            <input type="text" class="form-control" id="factoryName" name="factoryName" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产厂址：</label>
                                            <input type="text" class="form-control" name="factoryAddress" id="factoryAddress" placeholder="" autofocus="autofocus"/>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产厂家联系方式：</label>
                                            <input type="text" class="form-control" name="factoryContactNumber" id="factoryContactNumber" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产开始时间：</label>
                                            <div class="form-group control-group">
                                                <div class="input-group date form_datetime birthtimeStartFilter"
                                                     data-date="" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                    <input type="text" name="birthtimeStart"
                                                           class="form-control at-date" placeholder="" readonly=""
                                                           id="birthtimeStart">
                                                    <span class="input-group-addon my-input-group-addon" style="padding-left: 15px;"><i class="fa fa-calendar" style="cursor: pointer;"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="" for="name">生产截止时间：</label>
                                            <div class="form-group control-group">
                                                <div class="input-group date form_datetime birthtimeEndFilter"
                                                     data-date="" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                    <input type="text" name="birthtimeEnd"
                                                           class="form-control at-date" placeholder="" readonly=""
                                                           id="birthtimeEnd">
                                                    <span class="input-group-addon my-input-group-addon"><i class="fa fa-calendar" style="cursor: pointer;"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产工艺：</label>
                                            <input type="text" class="form-control" name="technology" id="technology" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <label class="control-label">保质期：</label>
                                        <div class="input-group">

                                            <input type="text" class="form-control" name="aualityPeriod" id="aualityPeriod" placeholder="" autofocus="autofocus"/>
                                            <span class="input-group-addon">天</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">食品添加剂：</label>
                                            <input type="text" class="form-control" name="foodAdditives" id="foodAdditives" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产厂地：</label>
                                            <input type="text" class="form-control" name="placeOrigin" id="placeOrigin" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <label class="control-label">净含量：</label>
                                        <div class="input-group">
                                           <input type="text" class="form-control" id="weight" name="weight" placeholder="" autofocus="autofocus"/>
                                            <span class="input-group-addon">g</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">包装方式：</label>
                                            <input type="text" class="form-control" id="packageMethod" name="packageMethod" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">是否含糖：</label>
                                            <input type="text" class="form-control" name="containSugar" id="containSugar" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">品质：</label>
                                            <input type="text" class="form-control" name="quality" id="quality" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">形状：</label>
                                            <input type="text" class="form-control" id="shape" name="shape" placeholder="" autofocus="autofocus"/>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">颜色：</label>
                                            <input type="text" class="form-control" name="color" id="color" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">特产品类：</label>
                                            <input type="text" class="form-control" name="specialCategory" id="specialCategory" placeholder="" th:value="冰糖燕窝" autofocus="autofocus"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">适用对象：</label>
                                            <input type="text" class="form-control" id="adaptObject" name="adaptObject" placeholder="" autofocus="autofocus"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">配料表信息：</label>
                                            <textarea class="form-control" name="burdenList" id="burdenList" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">储藏方法：</label>
                                            <textarea class="form-control" name="storageMethod" id="storageMethod" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">推荐图片：</label>
                                            <div class="upload-group2 ">
                                                <div class="upload-style2">
                                                    <span class="upload-text"></span>
                                                    <input class="upload-file" type="file"
                                                           accept="image/jpeg, image/png" id="upload2"/>
                                                </div>
                                                <!--<div class="upload-icon" style="background: white;">+ </div>-->
                                                <input th:type="hidden" name="pic" id="pic"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">会员评价图片：</label>
                                            <div class="upload-group3 ">
                                                <div class="upload-style3">
                                                    <span class="upload-text"></span>
                                                    <input class="upload-file" type="file"
                                                           accept="image/jpeg, image/png" id="upload3"/>
                                                </div>
                                                <!--<div class="upload-icon" style="background: white;">+ </div>-->
                                                <input th:type="hidden" name="pic2" id="pic2"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">资质证明：</label>
                                            <div class="upload-group4 ">
                                                <div class="upload-style4">
                                                    <span class="upload-text"></span>
                                                    <input class="upload-file" type="file"
                                                           accept="image/jpeg, image/png" id="upload4"/>
                                                </div>
                                                <input th:type="hidden" name="pic3" id="pic3"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="col-lg-12" style="text-align: center;">
                                            <button class="btn btn-primary submit_btn">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-default" href="/product/list">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="successModal" data-backdrop="static" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog-or">
                <div class="modal-content panel-success">
                    <div class="modal-header">
                        <h4 id="myModalLabel" contenteditable="true">操作提示</h4>
                    </div>
                    <div class="modal-body warning-info-text">
                        <i class="fa fa-check success-icon"></i>
                        &nbsp;<span class="operate-tip"></span>
                    </div>
                    <div class="modal-footer">
                        <a href="/product/list" class="btn btn-primary">确定</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="failureModal" data-backdrop="static" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog-or">
                <div class="modal-content panel-success">
                    <div class="modal-header">
                        <h4 id="myModalLabel" contenteditable="true">操作提示</h4>
                    </div>
                    <div class="modal-body warning-info-text">
                        <i class="fa fa-times failure-icon"></i>
                        &nbsp;<span class="operate-tip"></span>
                    </div>
                    <div class="modal-footer">
                        <a id="close-modal-btn" class="btn btn-primary">确定</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>


<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/bootstrapValidator/bootstrapValidator.min.js}"></script>

</body>
</html>