<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/upload-img.css}" rel="stylesheet"/>

    <link th:href="@{/static/assets/bootstrapValidator/bootstrapValidator.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:src="@{/static/assets/js/jquery-2.0.3.min.js}"></script>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#mcwForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {},
                fields: {
                    colorCode: {
                        message: '色号不能为空',
                        validators: {
                            notEmpty: {
                                message: '色号不能为空'
                            }
                        }
                    },
                    material: {
                        validators: {
                            notEmpty: {
                                message: '使用原料不能为空'
                            }
                        }
                    },
                    productBatchNumber: {
                        message: '产品批号不能为空',
                        validators: {
                            notEmpty: {
                                message: '产品批号不能为空'
                            }
                        }
                    },
                    customer: {
                        message: '顾客名称不能为空',
                        validators: {
                            notEmpty: {
                                message: '顾客名称不能为空'
                            }
                        }
                    },
                    number: {
                        message: '生产数量不能为空',
                        validators: {
                            notEmpty: {
                                message: '生产数量不能为空'
                            },
                            numeric: {message: '生产数量只能输入数字'}
                        }
                    },
                    weishuWeight: {
                        message: '尾数重量不能为空',
                        validators: {
                            notEmpty: {
                                message: '尾数重量不能为空'
                            },
                            numeric: {message: '尾数重量只能输入数字'}
                        }
                    },
                    times: {
                        message: '方次不能为空',
                        validators: {
                            notEmpty: {
                                message: '方次不能为空'
                            },
                            numeric: {message: '方次只能输入数字'}
                        }
                    },
                    buzhengWeight: {
                        message: '补正记录不能为空',
                        validators: {
                            notEmpty: {
                                message: '补正记录不能为空'
                            },
                            numeric: {message: '补正记录只能输入数字'}
                        }
                    }
                }
            }).on('success.form.bv', function (e) { //点击提交之后
                $('.table-row').html("")

                var weishuWeight = $('#weishuWeight').val()
                var times = $('#times').val()
                var buzhengWeight = $('#buzhengWeight').val()
                var number = $('#number').val()

                if(Number(weishuWeight) * Number(times) + Number(buzhengWeight) != Number(number)){
                    $('.table-row').append("<div style='text-align:center;color:red;'>尾数重量 * 方次 + 补正重量 ！= 生产数量，请检查！</div>");
                    return;
                }

                $("#submit_btn").attr('disabled', "true");
                $.post("/match_color_work/addMatchColorWork/", $("#mcwForm").serialize())
                    .success(function (data) {
                        if (data.code == '0') {
                            $('#successModal').modal('show');
                            $('#successModal').find('.operate-tip').html("新增配色作业制图成功，操作成功！");
                        } else {
                            $("#submit_btn").removeAttr("disabled");
                            $('#failureModal').modal('show');
                            $('#failureModal').find('.operate-tip').html("新增配色作业制图失败，操作失败！");
                            return false;
                        }
                    })
                    .error(function () {
                        $('#failureModal').modal('show');
                        $('#failureModal').find('.operate-tip').html("不可预知的异常，无法提交请求！");
                        return false;
                    });
            });

            $('#colorCode, #material, #weishuWeight, #times, #buzhengWeight, #number').bind('change',function(){
                $('.table-row').html("")
            })
            $('.btn-yulan').bind('click',function () {
                $('.table-row').html("")

                var colorCode = $('#colorCode').val()
                var productBatchNumber = $('#productBatchNumber').val()
                var weishuWeight = $('#weishuWeight').val()
                var times = $('#times').val()
                var buzhengWeight = $('#buzhengWeight').val()
                var number = $('#number').val()
                var material = $('#material').val()

                $('.table-row').append("<hr/>");
                if(colorCode == undefined || colorCode == ''){
                    $('.table-row').append("<div style='text-align:center;color:red;'>色号不能为空，请检查！</div>");
                    return;
                }
                if(material == undefined || material == ''){
                    $('.table-row').append("<div style='text-align:center;color:red;'>使用原料不能为空，请检查！</div>");
                    return;
                }
                if(weishuWeight == undefined || weishuWeight == ''){
                    $('.table-row').append("<div style='text-align:center;color:red;'>尾数重量不能为空，请检查！</div>");
                    return;
                }
                if(times == undefined || times == ''){
                    $('.table-row').append("<div style='text-align:center;color:red;'>方次不能为空，请检查！</div>");
                    return;
                }
                if(buzhengWeight == undefined || buzhengWeight == ''){
                    $('.table-row').append("<div style='text-align:center;color:red;'>补正重量不能为空，请检查！</div>");
                    return;
                }

                if(Number(weishuWeight) * Number(times) + Number(buzhengWeight) != Number(number)){
                    $('.table-row').append("<div style='text-align:center;color:red;'>尾数重量 * 方次 + 补正重量 ！= 生产数量，请检查！</div>");
                    return;
                }

                $.ajax({
                    url: '/match_color_work/yulan',
                    datatype: 'json',
                    type: 'get',
                    data:{
                            colorCode: $('#colorCode').val(),
                            material:$('#material').val(),
                            productBatchNumber: $('#productBatchNumber').val(),
                            weishuWeight: $('#weishuWeight').val(),
                            times: $('#times').val(),
                            buzhengWeight: $('#buzhengWeight').val()
                    },
                    success: function (data) {
                       if(data.code == 0){
                           var tableHeader = "<table class='table table-striped'>" +
                               "<thead><tr><td>色料名称</td><td>基本配方</td>" +
                               "<td>尾数重量（kg）* 方次</td>" +
                               " <td>补正记录重量（kg）* 方次</td>" +
                               "</tr>" +
                               "</thead>" +
                               "<tbody class='tbody'>";

                           $('.table-row').append(tableHeader);
                            for(var i = 0; i < data.dataList.length; i++){
                                var rowItem = "<tr>" +
                                                    "<td>"+data.dataList[i].colorNumber+"</td>" +
                                                    "<td>"+data.dataList[i].material+"</td>" +
                                                    "<td>"+data.dataList[i].weishuWeight+"</td>" +
                                                    "<td>"+data.dataList[i].buzhengWeight+"</td></tr>";

                                $('.table-row').find('.table').find(".tbody").append(rowItem);
                            }
                           var tableFooter = "</tbody></table>";
                           $('.table-row').append(tableFooter);
                           $('.table-row').append("<div style='text-align:right;'><a href='' class='btn btn-warning'>打印</a></div>");

                       }else{
                           $('.table-row').append("<div style='text-align:center;color:red;'>查询无匹配记录</div>");
                       }
                    }
                });
            })

        });
        /*]]>*/
    </script>
</head>

<body>

<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="content">
    <div class="content-wrapper">
        <h3>配色作业制图列表
            <small>
                <ul id="crumb" class="breadcrumb">
                    <li>Home</li>
                    <li class=""><a href="/match_color_work/list/">配色作业制图列表</a></li>
                    <li class="active">添加配色作业制图</li>
                </ul>
            </small>
        </h3>

        <div class="outlet">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="im-wand"></i> 添加配色作业制图</h4>
                        </div>
                        <form id="mcwForm" method="post" class="form-horizontal form-wizard" role="form">
                            <div class="panel-body">
                                <div class="row row-two-col">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">色号： <span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="colorCode" name="colorCode" placeholder="色号">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">使用原料： <span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="material" name="material"  placeholder="使用原料">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">产品批号：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="productBatchNumber" name="productBatchNumber"  placeholder="产品批号">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-two-col">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">顾客名称：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="customer" name="customer" placeholder="顾客名称">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">顾客代号：</label>
                                            <input type="text" class="form-control" id="customerCode" name="customerCode" placeholder="顾客代号">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产数量：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="number" name="number" placeholder="生产数量">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-two-col">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">生产机台：</label>
                                            <input type="text" class="form-control" id="machineCode" name="machineCode" placeholder="生产机台">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-8" style="padding-left: 0px !important;; padding-right: 0px !important;">
                                            <div class="form-group">
                                                <label class="control-label">尾数重量：<span style="color:red;">*</span></label>
                                                <input type="text" class="form-control" id="weishuWeight" name="weishuWeight" placeholder="尾数重量">
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="padding-right: 0px !important;">
                                            <div class="form-group">
                                                <label class="control-label">方次：<span style="color:red;">*</span></label>
                                                <input type="text" class="form-control" id="times" name="times" placeholder="方次">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">补正记录：<span style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="buzhengWeight" name="buzhengWeight" placeholder="补正记录">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-two-col" style="text-align: right;">
                                    <div class="col-lg-2 col-lg-offset-10">
                                        <a class="btn btn-warning btn-yulan">预览并打印</a>
                                    </div>
                                </div>

                                <div class="row row-two-col table-row">

                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row" style="margin-top: 15px;">
                                    <div class="form-group">
                                        <div class="col-lg-12" style="text-align: center;">
                                            <button class="btn btn-primary submit_btn">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-default" href="/match_color_work/list">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
        </div>

        <div class="modal fade" style="padding-left: 35%;" id="successModal" data-backdrop="static" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog-or">
                <div class="modal-content panel-success">
                    <div class="modal-header">
                        <h4 id="myModalLabel" contenteditable="true">操作提示</h4>
                    </div>
                    <div class="modal-body warning-info-text">
                        <i class="fa fa-check success-icon"></i>
                        &nbsp;<span class="operate-tip"></span>
                    </div>
                    <div class="modal-footer">
                        <a href="/match_color_work/list" class="btn btn-primary">确定</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" style="padding-left: 35%;" id="failureModal" data-backdrop="static" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog-or">
                <div class="modal-content panel-success">
                    <div class="modal-header">
                        <h4 id="myModalLabel" contenteditable="true">操作提示</h4>
                    </div>
                    <div class="modal-body warning-info-text">
                        <i class="fa fa-times failure-icon"></i>
                        &nbsp;<span class="operate-tip"></span>
                    </div>
                    <div class="modal-footer">
                        <a href="/match_color_work/list" class="btn btn-primary">确定</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>


<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/bootstrapValidator/bootstrapValidator.min.js}"></script>

</body>
</html>