<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wshop.dao.MatchColorWorkMapper" >
  <resultMap id="BaseResultMap" type="com.wshop.entity.MatchColorWork" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="color_code" property="colorCode" jdbcType="VARCHAR" />
    <result column="product_batch_number" property="productBatchNumber" jdbcType="VARCHAR" />
    <result column="customer" property="customer" jdbcType="VARCHAR" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="DOUBLE" />
    <result column="machine_code" property="machineCode" jdbcType="VARCHAR" />
    <result column="weishu_weight" property="weishuWeight" jdbcType="DOUBLE" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="buzheng_weight" property="buzhengWeight" jdbcType="DOUBLE" />
    <result column="produce_time" property="produceTime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, color_code, product_batch_number, customer, material, customer_code, number, 
    machine_code, weishu_weight, times, buzheng_weight, produce_time, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from match_color_work
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from match_color_work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.wshop.entity.MatchColorWork" >
    insert into match_color_work (id, color_code, product_batch_number, 
      customer, material, customer_code, 
      number, machine_code, weishu_weight, 
      times, buzheng_weight, produce_time, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{colorCode,jdbcType=VARCHAR}, #{productBatchNumber,jdbcType=VARCHAR}, 
      #{customer,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, 
      #{number,jdbcType=DOUBLE}, #{machineCode,jdbcType=VARCHAR}, #{weishuWeight,jdbcType=DOUBLE}, 
      #{times,jdbcType=INTEGER}, #{buzhengWeight,jdbcType=DOUBLE}, #{produceTime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.wshop.entity.MatchColorWork" >
    insert into match_color_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="colorCode != null" >
        color_code,
      </if>
      <if test="productBatchNumber != null" >
        product_batch_number,
      </if>
      <if test="customer != null" >
        customer,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="machineCode != null" >
        machine_code,
      </if>
      <if test="weishuWeight != null" >
        weishu_weight,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="buzhengWeight != null" >
        buzheng_weight,
      </if>
      <if test="produceTime != null" >
        produce_time,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="colorCode != null" >
        #{colorCode,jdbcType=VARCHAR},
      </if>
      <if test="productBatchNumber != null" >
        #{productBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=DOUBLE},
      </if>
      <if test="machineCode != null" >
        #{machineCode,jdbcType=VARCHAR},
      </if>
      <if test="weishuWeight != null" >
        #{weishuWeight,jdbcType=DOUBLE},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="buzhengWeight != null" >
        #{buzhengWeight,jdbcType=DOUBLE},
      </if>
      <if test="produceTime != null" >
        #{produceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.wshop.entity.MatchColorWork" >
    update match_color_work
    <set >
      <if test="colorCode != null" >
        color_code = #{colorCode,jdbcType=VARCHAR},
      </if>
      <if test="productBatchNumber != null" >
        product_batch_number = #{productBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="machineCode != null" >
        machine_code = #{machineCode,jdbcType=VARCHAR},
      </if>
      <if test="weishuWeight != null" >
        weishu_weight = #{weishuWeight,jdbcType=DOUBLE},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="buzhengWeight != null" >
        buzheng_weight = #{buzhengWeight,jdbcType=DOUBLE},
      </if>
      <if test="produceTime != null" >
        produce_time = #{produceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.wshop.entity.MatchColorWork" >
    update match_color_work
    set color_code = #{colorCode,jdbcType=VARCHAR},
      product_batch_number = #{productBatchNumber,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      customer_code = #{customerCode,jdbcType=VARCHAR},
      number = #{number,jdbcType=DOUBLE},
      machine_code = #{machineCode,jdbcType=VARCHAR},
      weishu_weight = #{weishuWeight,jdbcType=DOUBLE},
      times = #{times,jdbcType=INTEGER},
      buzheng_weight = #{buzhengWeight,jdbcType=DOUBLE},
      produce_time = #{produceTime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.wshop.dto.condition.MatchColorWorkCondition" >
    select 
    <include refid="Base_Column_List" />
    from match_color_work
    <where>
		<if test="color_code != null and color_code != ''" >
	      and color_code=#{color_code}
	    </if>
	    <if test="product_batch_number != null and product_batch_number != ''" >
	      and product_batch_number=#{product_batch_number}
	    </if>
	    <if test="customer != null and customer != ''" >
	      and customer=#{customer}
	    </if>
	    <if test="material != null and material != ''" >
	      and material=#{material}
	    </if>
	</where>
  </select>
  
</mapper>