<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/static/assets/js/jquery-2.0.3.min.js}"></script>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            function deleteCategory(obj) {

            }
        });
        /*]]>*/
    </script>
</head>

<body>

<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="content">
   <div class="content-wrapper">
       <h3>会员列表
           <small><ul id="crumb" class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">会员列表</li>
           </ul></small>
       </h3>

        <div class="outlet">
            <div class="row">
                <div class="col-sm-3">
                   <!-- <a href="/customer/add_customer/" class="btn btn-success">新增会员</a>-->
                </div>
                <div class="col-sm-9 pull-right" style="text-align:right;">
                    <form class="form-inline" role="form" method="GET" action="/customer/list/">
                        <div class="form-group">
                            <input class="form-control" name="username" id="username" type="text" th:value="${condition.username}"
                                   placeholder="请输入用户账号"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" th:value="${condition.name}"
                                   placeholder="请输入用户昵称"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="realName" id="realName" type="text" th:value="${condition.realName}"
                                   placeholder="请输入真实姓名"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="contactNumber" id="contactNumber" type="text" th:value="${condition.contactNumber}"
                                   placeholder="请输入联系电话"/>
                        </div>
                        <div class="form-group">
                            <select name="state" id="state" class="form-control">
                                <option value="">&#45;&#45; 请选择用户状态 &#45;&#45;</option>
                                <span>
                                    <option th:value="1"
                                            th:selected="${condition!=null and condition.state != null and condition.state == 1}">正常状态 </option>
                                    <option th:value="2"
                                            th:selected="${condition!=null and condition.state != null and condition.state == 2}">用户被锁定 </option>
                                    <option th:value="0"
                                            th:selected="${condition!=null and condition.state != null and condition.state == 0}">创建未认证 </option>
                                </span>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="level" id="level" class="form-control">
                                <option value="">&#45;&#45; 请选择会员级别 &#45;&#45;</option>
                                <span>
                                    <option th:value="1"
                                            th:selected="${condition!=null and condition.level != null and condition.level == 1}">白金会员 </option>
                                    <option th:value="2"
                                            th:selected="${condition!=null and condition.level != null and condition.level == 2}">超级VIP </option>
                                    <option th:value="0"
                                            th:selected="${condition!=null and condition.level != null and condition.level == 0}">普通会员</option>
                                </span>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                </div>
            </div>

            <!-- End .row -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-12 col-md-12 sortable-layout">
                    <div class="panel panel-primary toggle panelMove panelClose panelRefresh">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="im-bars"></i>会员列表</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>用户账号</td>
                                    <td>用户昵称</td>
                                    <td>真实姓名</td>
                                    <td>用户状态</td>
                                    <td>联系方式</td>
                                    <td>居住地址</td>
                                    <td>会员级别</td>
                                    <td>注册时间</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="record,status: ${recordList}" role="row">
                                        <td th:text="${status.index + 1}"></td>
                                        <td th:text="${record.username}? ${record.username} : '---'"></td>
                                        <td th:text="${record.name}? ${record.name} : '---'"></td>
                                        <td>
                                            <span th:if="${record.state ==0}" class="btn btn-xs btn-lime">创建未认证</span>
                                            <span th:if="${record.state ==1}" class="btn btn-xs btn-success">正常状态</span>
                                            <span th:if="${record.state ==2}" class="btn btn-xs btn-pink">用户被锁定</span>
                                        </td>
                                        <td th:text="${record.realName}? ${record.realName} : '---'"></td>
                                        <td th:text="${record.contactNumber}? ${record.contactNumber} : '---'"></td>
                                        <td th:text="${record.homeAddress}? ${record.homeAddress} : '---'"></td>
                                        <td>
                                            <span th:if="${record.level ==0}" class="btn btn-xs btn-lime">普通会员</span>
                                            <span th:if="${record.level ==1}" class="btn btn-xs btn-yellow">白金会员</span>
                                            <span th:if="${record.level ==2}" class="btn btn-xs btn-pink">超级VIP</span>
                                        </td>
                                        <td th:text="${record.createdAt}? ${#dates.format(record.createdAt,'yyyy-MM-dd HH:mm:ss')} : '---'"></td>

                                        <td>
                                           <!-- <a th:href="'/category/edit_category/'+${record.uid}">编辑</a>
                                            <a onclick='deleteCategory(this)'>删除</a>-->
                                        </td>
                                    </tr>
                                    <tr role="row"
                                        th:style="'display:' +@{(${#lists.isEmpty(recordList)}? '' : 'none')} + ''">
                                        <td colspan=10" style="text-align: center;">
                                            <spam>
                                                很抱歉，没有找到符合您条件的记录
                                            </spam>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--分页插件开始-->
                            <div class="row">
                                <div class="col-sm-11" style="text-align: right;">
                                    <nav th:if="${recordSize >0}">
                                        <ul class="pagination">
                                            <li><a th:href="@{${'/customer/list'}(pageNum=0,pageSize=10,username=${condition.username},name=${condition.name},realName=${condition.realName},contactNumber=${condition.contactNumber},state=${condition.state},level=${condition.level})}"
                                                   class="header-page">首页</a></li>
                                            <li>
                                                <a th:if="${not isFirstPage}"
                                                   th:href="@{${'/customer/list'}(pageNum=${pageNum-1},pageSize=${pageSize},username=${condition.username},name=${condition.name},realName=${condition.realName},contactNumber=${condition.contactNumber},state=${condition.state},level=${condition.level})}"
                                                   class="normal-page">上一页</a>
                                                <a th:if="${isFirstPagee}" href="javascript:void(0);" class="normal-page"></a>
                                            </li>
                                            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                                                <a th:if="${pageNum eq pageNo}" class="active-page" href="javascript:void(0);">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                                <a th:if="${not (pageNum eq pageNo)}"
                                                   th:href="@{${'/customer/list'}(pageNum=${pageNo},size=${pageSize},username=${condition.username},name=${condition.name},realName=${condition.realName},contactNumber=${condition.contactNumber},state=${condition.state},level=${condition.level})}"
                                                   class="normal-page">
                                                    <span th:text="${pageNo}"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:if="${not isLastPage}"
                                                   th:href="@{${'/customer/list'}(pageNum=${pageNum+1},size=${pageSize},username=${condition.username},name=${condition.name},realName=${condition.realName},contactNumber=${condition.contactNumber},state=${condition.state},level=${condition.level})}"
                                                   class="normal-page">下一页</a>
                                                <a th:if="${isLastPage}" href="javascript:void(0);"
                                                   class="normal-page"></a>
                                            </li>
                                            <li><a th:href="@{${'/customer/list'}(pageNum=${totalPages},size=${pageSize},username=${condition.username},name=${condition.name},realName=${condition.realName},contactNumber=${condition.contactNumber},state=${condition.state},level=${condition.level})}"
                                                   class="footer-page">尾页</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-sm-1" style="padding-top: 25px;min-width: 40px;">
                                    共&nbsp;<label th:text="${totalPages}"></label>&nbsp;页
                                </div>
                            </div>
                            <!--分页插件结束-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>

</body>
</html>