<?xml version="1.0" encoding="UTF-8"?>
<!--
http://logback.qos.ch/manual/configuration.html
-->
<!--configure logback to globally -->
<configuration debug="true">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <property name="APP_LOGGING_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{64}\\(%F:%L\\): %msg%n"/>

    <appender name="APP_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOGGING_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>data/logs/es-server-end/es-server-end.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /data/logs/wshop-server-end/wshop-server-end.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${APP_LOGGING_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="org.glassfish.jersey" level="DEBUG"/>
    <logger name="dao" level="DEBUG" additivity="false" >
        <appender-ref ref="APP_STDOUT"/>
        <appender-ref ref="APP_FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="APP_STDOUT"/>
        <appender-ref ref="APP_FILE"/>
    </root>
</configuration>