<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="SuggeElson"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="application-name" content=""/>

    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>

<div id="right-sidebar" class="hide-sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-panel mt0">
            <div class="sidebar-panel-content fullwidth pt0">
                <div class="chat-user-list">
                    <form class="form-horizontal chat-search" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search for user..."/>
                            <button type="submit"><i class="ec-search s16"></i>
                            </button>
                        </div>
                        <!-- End .form-group  -->
                    </form>
                    <ul class="chat-ui bsAccordion">
                        <li>
                            <a href="#">Favorites <span class="notification teal">4</span><i class="en-arrow-down5"></i></a>
                            <ul class="in">
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle"/>Chad
                                        Engle
                                        <span class="has-message"><i class="im-pencil"></i></span>
                                    </a>
                                    <span class="status online"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/54.jpg" alt="@alagoon"/>Anthony
                                        Lagoon</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/52.jpg" alt="@koridhandy"/>Kory
                                        Handy</a>
                                    <span class="status"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/50.jpg" alt="@divya"/>Divia
                                        Manyan</a>
                                    <span class="status"><i class="en-dot"></i></span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Online <span class="notification green">3</span><i
                                    class="en-arrow-down5"></i></a>
                            <ul class="in">
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/51.jpg" alt="@kolage"/>Eric
                                        Hofman</a>
                                    <span class="status online"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/55.jpg" alt="@mikebeecham"/>Mike
                                        Beecham</a>
                                    <span class="status online"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/53.jpg" alt="@derekebradley"/>Darek
                                        Bradly</a>
                                    <span class="status online"><i class="en-dot"></i></span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Offline <span class="notification red">5</span><i
                                    class="en-arrow-down5"></i></a>
                            <ul>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/56.jpg" alt="@laurengray"/>Lauren
                                        Grey</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle"/>Chad
                                        Engle</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/58.jpg"
                                             alt="@frankiefreesbie"/>Frankie Freesibie</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/57.jpg" alt="@joannefournier"/>Joane
                                        Fornier</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                                <li>
                                    <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/avatars/59.jpg" alt="@aiiaiiaii"/>Alia
                                        Alien</a>
                                    <span class="status offline"><i class="en-dot"></i></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="chat-box">
                    <h5>Chad Engle</h5>
                    <a id="close-user-chat" href="#" class="btn btn-xs btn-primary"><i class="en-arrow-left4"></i></a>
                    <ul class="chat-ui chat-messages">
                        <li class="chat-user">
                            <p class="avatar">
                                <img src="assets/img/avatars/49.jpg" alt="@chadengle"/>
                            </p>
                            <p class="chat-name">Chad Engle <span class="chat-time">15 seconds ago</span>
                            </p>
                            <span class="status online"><i class="en-dot"></i></span>
                            <p class="chat-txt">Hello Sugge check out the last order.</p>
                        </li>
                        <li class="chat-me">
                            <p class="avatar">
                                <img src="images/user_tx.jpg" alt="SuggeElson"/>
                            </p>
                            <p class="chat-name">SuggeElson <span class="chat-time">10 seconds ago</span>
                            </p>
                            <span class="status online"><i class="en-dot"></i></span>
                            <p class="chat-txt">Ok i will check it out.</p>
                        </li>
                        <li class="chat-user">
                            <p class="avatar">
                                <img src="images/user_tx.jpg" alt="@chadengle"/>
                            </p>
                            <p class="chat-name">Chad Engle <span class="chat-time">now</span>
                            </p>
                            <span class="status online"><i class="en-dot"></i></span>
                            <p class="chat-txt">Thank you, have a nice day</p>
                        </li>
                    </ul>
                    <div class="chat-write">
                        <form action="#" class="form-horizontal" role="form">
                            <div class="form-group">
                                <textarea name="sendmsg" id="sendMsg" class="form-control elastic" rows="1"></textarea>
                                <a role="button" class="btn" id="attach_photo_btn">
                                    <i class="fa-picture s20"></i>
                                </a>
                                <input type="file" name="attach_photo" id="attach_photo"/>
                            </div>
                            <!-- End .form-group  -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End .sidebar-inner -->
</div>

<div id="content">
    <div class="content-wrapper">
        <h3>首页
            <small>
                <ul id="crumb" class="breadcrumb">
                    <li>Home </li>
                </ul>
            </small>
        </h3>



        <div class="outlet">
            <!-- Start .outlet -->
            <!-- Page start here ( usual with .row ) -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel vertical slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile red">
                                    <div class="tile-icon">
                                        <i class="br-cart s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">107</div>
                                        <h3>未处理订单</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tile orange">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="ec-cog s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">5</div>
                                        <h3>商品评价</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile blue">
                                    <div class="tile-icon">
                                        <i class="st-chat s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">24</div>
                                        <h3>商品评价</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tile brown">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="ec-mail s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">17</div>
                                        <h3>New emails</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel vertical slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile green">
                                    <div class="tile-icon">
                                        <i class="ec-users s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">325</div>
                                        <h3>注册会员</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tile purple">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="ec-search s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">2540</div>
                                        <h3>Searches</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile teal">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="ec-images s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">45</div>
                                        <h3>商品分类</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tile magenta">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="ec-share s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">3548</div>
                                        <h3>Posts shared</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
            </div>
            <!-- End .row -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-6 col-md-6 sortable-layout">
                    <!-- Start col-lg-6 -->
                    <div class="panel panel-teal toggle panelMove panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="im-bars"></i> 数据统计</h4>
                        </div>
                        <div class="panel-body">
                            <div id="stats-pageviews" style="width: 100%; height:250px;">数据统计区域</div>
                        </div>
                        <div class="panel-footer teal-bg">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile teal m0">
                                    <div class="tile-content text-center pl0 pr0">
                                        <div id="countToday" class="number">75</div>
                                        <h3>Today</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile teal m0">
                                    <div class="tile-content text-center pl0 pr0">
                                        <div id="countYesterday" class="number">69</div>
                                        <h3>Yesterday</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile teal m0">
                                    <div class="tile-content text-center pl0 pr0">
                                        <div id="countWeek" class="number">380</div>
                                        <h3>This Week</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile teal m0">
                                    <div class="tile-content text-center pl0 pr0">
                                        <div id="countTotal" class="number">1254</div>
                                        <h3>Total</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                    <div class="panel panel-brown panelMove">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="st-camera"></i> 热销商品</h4>
                            <div class="pull-right mt10">
                                <a href="#" class="color-grayspr"></a>
                            </div>
                        </div>
                        <div class="panel-body p0">
                            <div class="instagram-widget">
                                <div class="instagram-widget-header gray-bg">
                                    <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                        <!-- col-lg-4 start here -->
                                        <a href="#">
                                            <p class="instagram-widget-text">Followers</p>
                                            <strong class="instagram-widget-number">1256</strong>
                                        </a>
                                    </div>
                                    <!-- col-lg-4 end here -->
                                    <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                        <!-- col-lg-4 start here -->
                                        <a href="#">
                                            <p class="instagram-widget-text">Following</p>
                                            <strong class="instagram-widget-number">345</strong>
                                        </a>
                                    </div>
                                    <!-- col-lg-4 end here -->
                                    <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                        <!-- col-lg-4 start here -->
                                        <a href="#">
                                            <p class="instagram-widget-text">Shots</p>
                                            <strong class="instagram-widget-number">176</strong>
                                        </a>
                                    </div>
                                    <!-- col-lg-4 end here -->
                                </div>

                                <div class="instagram-widget-footer">
                                    <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                                        <!-- col-lg-6 start here -->
                                        <p>
                                            <a href="#">
                                                <i class="ec-chat mr5"></i>
                                                <strong class="instagram-widget-number">17</strong>
                                            </a>
                                        </p>
                                    </div>
                                    <!-- col-lg-6 end here -->
                                    <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                                        <!-- col-lg-6 start here -->
                                        <p>
                                            <a href="#">
                                                <i class="ec-heart mr5"></i>
                                                <strong class="instagram-widget-number">27</strong>
                                            </a>
                                        </p>
                                    </div>
                                    <!-- col-lg-6 end here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                    <div class="panel panel-default panelMove plain">
                        <!-- Start .panel -->
                        <div class="panel-heading white-bg"></div>
                        <div class="panel-body p0">
                            <div id="calendar"></div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- End col-lg-6 -->
                <div class="col-lg-6 col-md-6 sortable-layout">


                    <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa-list"></i>今日活动</h4>
                        </div>
                        <div class="panel-body">
                            <div class="todo-widget">
                                <div class="todo-header">
                                    <div class="todo-search">
                                        <form>
                                            <input type="text" class="form-control" name="search"
                                                   placeholder="Search for todo ..."/>
                                        </form>
                                    </div>
                                    <div class="todo-add">
                                        <a href="#" class="btn btn-primary tip" title="Add new todo"><i
                                                class="im-plus"></i></a>
                                    </div>
                                </div>
                                <h4 class="todo-period">Today</h4>
                                <ul class="todo-list" id="today">
                                    <li class="todo-task-item">

                                        <div class="todo-priority normal tip" title="Normal priority">
                                            <i class="im-radio-checked"></i>
                                        </div>
                                        <span class="todo-category label label-primary"> 立即生效 </span>
                                        <div class="todo-task-text">今日优惠</div>
                                        <button type="button" class="close todo-close">&times;</button>
                                    </li>
                                    <li class="todo-task-item">

                                        <div class="todo-priority high tip" title="High priority">
                                            <i class="im-radio-checked"></i>
                                        </div>
                                        <span class="todo-category label label-primary"> 立即生效 </span>
                                        <div class="todo-task-text">今日优惠</div>
                                        <button type="button" class="close todo-close">&times;</button>
                                    </li>
                                    <li class="todo-task-item task-done">

                                        <div class="todo-priority high tip" title="High priority">
                                            <i class="im-radio-checked"></i>
                                        </div>
                                        <span class="todo-category label label-primary"> 立即生效 </span>
                                        <div class="todo-task-text">今日优惠</div>
                                        <button type="button" class="close todo-close">&times;</button>
                                    </li>
                                </ul>
                                <h4 class="todo-period">Tomorrow</h4>
                                <ul class="todo-list" id="tomorrow">
                                    <li class="todo-task-item">

                                        <div class="todo-priority tip" title="Low priority">
                                            <i class="im-radio-checked"></i>
                                        </div>
                                        <span class="todo-category label label-dark"> 暂不能操作 </span>
                                        <div class="todo-task-text">明日活动</div>
                                        <button type="button" class="close todo-close">&times;</button>
                                    </li>
                                    <li class="todo-task-item">

                                        <div class="todo-priority medium tip" title="Medium priority">
                                            <i class="im-radio-checked"></i>
                                        </div>
                                        <span class="todo-category label label-dark"> 暂不能操作 </span>
                                        <div class="todo-task-text">明日活动</div>
                                        <button type="button" class="close todo-close">&times;</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- End col-lg-6 -->
            </div>
            <!-- End .row -->
            <!-- Page End here -->
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>


<script th:src="@{/static/assets/js/jquery-1.8.3.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>

</body>
</html>