<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>

  <body>
  <div id="header" th:fragment="header">
    <div class="container-fluid">
      <div class="navbar">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <i class="im-windows8 text-logo-element animated bounceIn"></i><span
                  class="text-logo">燕窝</span><span class="text-slogan">平台</span>
          </a>
        </div>
        <nav class="top-nav" role="navigation">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">
                佰燕侣旗舰店</a>
              <ul class="dropdown-menu right" role="menu">
                <li><a href="#"><i class="st-user"></i>商家信息</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">
                <img class="user-avatar" th:src="@{/static/images/user_tx.jpg}" alt="SuggeElson"/>小明同学</a>
              <ul class="dropdown-menu right" role="menu">
                <li><a href="#"><i class="st-user"></i>用户信息</a>
                </li>
                <li><a href="#"><i class="st-settings"></i>我的权限</a>
                </li>
                <li><a href="/logout"><i class="im-exit"></i>退出</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div class="sidebar-inner">
      <ul id="sideNav" class="nav nav-pills nav-stacked">
        <li><a href="/admin_user/admin_login" class="nav-parent-one">首页<i class="im-home"></i></a></li>
        <li><a href="#" class="nav-parent-one">商品信息<i class="im-screen"></i></a></li>
        <li><a href="/category/list" class="nav-style">商品分类</a></li>
        <li><a href="/product/list" class="nav-style"> 商品列表 </a></li>
        <li><a href="/product/outProductList" class="nav-style"> 下架商品 </a></li>

        <li><a href="#" class="nav-parent-one">会员信息<i class="ec-users"></i></a></li>
        <li><a href="/customer/list" class="nav-style"> 会员列表</a></li>
        <li><a href="/customer/listAll" class="nav-style"> 会员查询</a></li>

        <li><a href="#" class="nav-parent-one">会员中心<i class="ec-user"></i></a></li>
        <li><a href="#" class="nav-style"> 查看购物车 </a></li>
        <li><a href="#" class="nav-style">订单处理 </a></li>
        <li><a href="#" class="nav-style">历史订单 </a></li>
        <li><a href="#" class="nav-style">会员评价 </a></li>

        <li><a href="#" class="nav-parent-one"><i class="im-flag"></i> 新闻活动</a></li>
        <li><a href="#" class="nav-style"> 新闻资讯</a></li>
        <li><a href="#" class="nav-style">活动配置</a></li>
        <li><a href="#" class="nav-parent-one"><i class="br-star"></i> 积分管理</a></li>
        <li><a href="#" class="nav-style">商户信息</a></li>
        <li><a href="#" class="nav-parent-one"><i class="en-feather"></i>权限系统</a></li>
        <li><a href="/role/list" class="nav-style">角色管理</a></li>
        <li><a href="/permission/list" class="nav-style">权限管理</a></li>
      </ul>
    </div>
  </div>

  </body>
</html>
